<%= start_form_tag :controller=> 'show', :action => 'new2' %>
<span class="label">Search</span><span class="value"><%= text_field 'search', 'search'  %></span>
  <%= submit_tag "Go" %>
<%= end_form_tag %>
